
:root {
    --navy-blue-color: #2e2f42;
    --main-text-color: #434455;
    --iris-color: #4d5ae5;
    --active-color: #404bbf;
    --background-color: #f4f4fd;
    --border-solid: #e7e9fc;
    --hero-text-color:#FFFFFF; 
    --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

}

 p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;

}

img {
    display: block;
    max-width: 100%;
    height: top;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:var(--main-text-color);
    background-color:var(--hero-text-color);
}

.page-header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-solid);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   /* outline: 2px solid #9a3dbc;*/
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo{
    margin-right: 76px;
}

.logo {
    color:var(--iris-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-dark {
    color: var(--navy-blue-color)
}

.menu {
    display: flex;
    gap: 40px;
}

/*.menu-item {}*/

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--navy-blue-color);
    text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
    color:var(--active-color);
}

/*---------------- CONTACT -----------------*/
.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
    font-style: normal;
    text-decoration: none;
}

.contact:hover,
.contact:focus {
    color:var(--active-color);
}

/*-------------- HERO--Button--btn ------------------*/

.hero {
    background: var(--navy-blue-color);
    background-image: var(--bg-gradient), url(../images/herobcg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0 188px 0;
    max-width: 1440px;
    margin: auto;
    }

.hero-desc {
color: var(--main-text-color);
}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--hero-text-color);
    width: 496px;
    margin: 0 auto;
}

.text-container {
    margin-bottom: 48px;
}

.modal-btn {
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--hero-text-color);
    background:var(--iris-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--active-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.btn-main {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background: var(--background-color);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--border-solid);
}


.btn-main:hover,
.btn-main:focus {
    color: var(--hero-text-color);
    background: var(--active-color);
    cursor: pointer;
    border: none;
}
/*-------------end--HERO--Button--btn-------------*/
/*---------------------Section2--------------*/
.feature {
    padding-top: 120px;
}

.feature-container {
   
    align-items: center;
}

.feature-list{
display: flex;
gap: 24px;
}

.feature-hero {
    color: var(--main-text-color);
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}


.feature-desc {
    font-size: 16px;
    line-height: 1.5;
  /*  letter-spacing: 0.02em;*/
    color: var(--main-text-color);
}

.hero-desc, .filtr-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*----------------Section3-------------*/
.aside {
    padding-top: 120px;
    padding-bottom: 120px;
}

.aside-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 48px) / 3);
}
.aside-img {
    border: var(--border-solid);
}
/*----------------end--Section3---------*/



 
.aside-title, .team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

 .ourteam {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    letter-spacing: 0.02em;
    
 }
 /*===========Section4==========*/
.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
    text-align: center;
    flex-basis: calc((100% - 48px) / 3);
}
.team-item {
    background-color: #FFFFFF;
    padding-bottom: 32px;
    border: 1px solid var(--border-solid);
    border-radius: 0px 0px 4px 4px;
}
 .team-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
 }

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-top: 32px;
    margin-bottom: 8px;
}
.list {}

.team-social {
    padding-top: 30px;
}

.team-soc-list {
    display:flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 44px;
    height: 44px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:var(--iris-color);
    display: block;
}

.team-soc-icon{
   fill: var(--hero-text-color);

}



/*
.link {}*/








 .team-list-img {
    background-color: #FFFFFF;
 }
.feature-memory {
    visibility: hidden;
    }

/*.team-item-title, .filtr-item{
}*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 /*====================PORTFOLIO BODY=====================*/
.heading{
    padding: 96px 0 120px 0;
}

.button {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.filtr {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    flex-basis: calc((100% - 48px) / 3);
  
}

.img-titl {
    padding: 32px 16px;
    border: 1px solid var(--border-solid);
    border-top: none;
}

.filtr-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.filtr-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.menu-link {
    padding-top: 48px;
}
 /*
.filtr-projc
 {}
.filtr-text*/
 /*=====================Підваал======================*/

.footer {
    background-color: var(--navy-blue-color);
    padding: 100px 0 100px 0;
    
}
.footer-text {
    width: 264px;
    text-align: left;
    line-height: 1.5;
}
.container-foot{

}

.container-logo {
text-align: left;
}
 .logo-wiht {
    color:var(--background-color);
    color: #f4f4fd;
 }

 .footer-text {
    letter-spacing: 0.02em;
     color:var(--border-solid);
     background:var(--navy-blue-color);
    margin-top: 16px;
 }
